# Bot token from @BotFather
# Example: BOT_TOKEN="123456789:ABCDEFGHIJKLMNOPQRSTUVWXYZ"
BOT_TOKEN=

# Telegram group chat ID (negative number)
# You can get this by adding the bot to the group, right-click the message, and select "Copy Message Link". The chat ID is the number after "https://t.me/c/" and before the message ID.
# For example, if the message link is "https://t.me/c/1234567890/1", the chat ID is -1001234567890 (add -100 in front of the number).
# Example: GROUP_ID=-1001234567890
GROUP_ID=

# Your local timezone offset from UTC (e.g. Malaysia = 8)
LOCAL_UTC_OFFSET=